{% for tag in configuration -%}
### `{{tag.name}}`

{{tag.description}}

{% if tag.attributes %}
<table markdown="1">
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Default Value</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% for attr in tag.attributes %}
<tr markdown="1">
<td markdown="1">{{attr.name}}</td>
<td markdown="1">{{attr.type}}</td>
<td markdown="1">{% if attr.default == "None" %}<em>None</em>{% else %}{{attr.default}}{% endif %}</td>
<td markdown="1">{% if attr.required %}<strong>Required!</strong> {% endif %}{{attr.description}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{{tag.details}}

#### Example Usage

{{tag.example}}

{% endfor %}
