---
title: "Module Details: {{ name }} (v{{ '{{ version }}' }})"
---

{% if '4' == version %}
{! 4/_support.md !}
{% endif %}

## The "{{ name }}" Module (v{{ '{{ version }}' }})

{{ introduction }}

{% if depends_on is defined -%}
!!! note ""
    This module depends on {{ depends_on.what }} and must be manually enabled at compile time.

    {{ depends_on.condition | default('Once you have installed the dependency') }} you can enable this module using the following command:

    <pre><code>./configure --enable-extras {{ name }}</code></pre>

{% endif -%}

### Description

{{ description }}

### Configuration

To load this module use the following `<module>` tag:

```xml
<module name="{{ name }}">
```

{% if configuration -%}
{% for tag in configuration -%}
{% if tag.name is string %}
#### `<{{ tag.name }}>`
{% else %}
#### `<{{ tag.name | join('>` &amp; `<') }}>`
{% endif %}

{{ tag.description }}

{% if tag.attributes %}
<table markdown="1">
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Default Value</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% for attr in tag.attributes %}
<tr markdown="1">
{% if attr.name is string %}
<td markdown="1">{{ attr.name }}</td>
{% else %}
<td markdown="1">
{% for name, version in attr.name.items() %}
{{ name }} *({{ version }})*{% if not loop.last %}<br>{% endif %}
{% endfor %}
</td>
{% endif %}
<td markdown="1">{{ attr.type }}</td>
<td markdown="1">{% if attr.default is none %}<em>None</em>{% else %}{{ attr.default }}{% endif %}</td>
<td markdown="1">{% if attr.added %}<a href="/{{ attr.added | first }}/change-log/#inspircd-{{ attr.added | replace(".", "") }}"><strong>New in v{{ attr.added }}!</strong></a> {% endif %}{% if attr.required %}<strong>Required!</strong> {% endif %}{{ attr.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if tag.added_values %}
{# typically to extend `<class:privs>` #}
{% if tag.values_description %}
{{ tag.values_description }}
{% endif %}
<table markdown="1">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% for value in tag.added_values %}
<tr markdown="1">
<td markdown="1">{{ value.name }}</td>
<td markdown="1">{% if value.added %}<a href="/{{ value.added | first }}/change-log/#inspircd-{{ value.added | replace(".", "") }}"><strong>New in v{{ value.added }}!</strong></a> {% endif %}{{ value.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{{ tag.details }}

##### Example Usage

{{ tag.example }}

{% endfor %}
{%- else -%}
This module requires no other configuration.

{% endif -%}

{% if commands -%}
### Commands

<table markdown="1">
<thead>
<tr>
<th>Name</th>
<th>Parameter Count</th>
<th>Syntax</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% for command in commands %}
<tr markdown="1">
<td markdown="1">{{ command.name }}</td>
<td markdown="1">{{ command.param_count }}</td>
{% if command.syntax is none %}
<td><em>None</em></td>
{% elif command.syntax is string %}
<td markdown="1">`{{ command.syntax }}`</td>
{% else %}
<td markdown="1">`{{ command.syntax | join('`<br>`') }}`</td>
{% endif %}
<td markdown="1">{% if command.added %}<a href="/{{ command.added | first }}/change-log/#inspircd-{{ command.added | replace(".", "") }}"><strong>New in v{{ command.added }}!</strong></a> {% endif %}{{ command.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{{ command_details }}

{# Check if any command has example usage. We need to do this before the heading, so we can skip it entirely if its section would be empty. #}
{# namespace() is used to allow the inner scope (the loop body) to alter the global scope.
   See <https://jinja.palletsprojects.com/en/3.0.x/templates/#assignments> for details. #}
{% set ns = namespace(has_example=false) %}
{% for command in commands %}
{% if command.example %}
{% set ns.has_example = true %}
{% endif %}
{% endfor %}

{% if ns.has_example %}
#### Example Usage

{% for command in commands %}

{% for example in command.example %}

{% if example.note %}
<div class="admonition note" markdown="1">
{{ example.note }}
</div>
{% endif %}

{% if example.description %}
{% if example.added %}<a href="/{{ example.added | first }}/change-log/#inspircd-{{ example.added | replace(".", "") }}"><strong>New in v{{ example.added }}!</strong></a> {% endif %}{{ example.description }}:
{% endif %}

```plaintext
{{ example.text }}
```

{% endfor %}
{% endfor %}
{% endif %}

{% endif %}

{% if client_caps -%}
### Client Capabilities

<table markdown="1">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% for cap in client_caps %}
<tr markdown="1">
<td markdown="1">{{ cap.name }}</td>
<td markdown="1">{% if cap.added %}<a href="/{{ cap.added | first }}/change-log/#inspircd-{{ cap.added | replace(".", "") }}"><strong>New in v{{ cap.added }}!</strong></a> {% endif %}{{ cap.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if chmodes -%}
### Channel Modes

{% if chmodes.chars %}
<table markdown="1">
<thead>
<tr>
<th>Name</th>
<th>Character</th>
<th>Type</th>
<th>Parameter Syntax</th>
<th>Usable By</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% for mode in chmodes.chars %}
<tr markdown="1">
<td markdown="1">{{ mode.name }}</td>
<td markdown="1">{{ mode.char }}</td>
<td markdown="1">{{ mode.type }}</td>
{% if mode.syntax is none %}
<td><em>None</em></td>
{% elif mode.syntax is string %}
<td markdown="1">`{{ mode.syntax }}`</td>
{% else %}
<td markdown="1">`{{ mode.syntax | join('`<br>`') }}`</td>
{% endif %}
<td markdown="1">{{ mode.usable_by }}</td>
<td markdown="1">{% if mode.added %}<a href="/{{ mode.added | first }}/change-log/#inspircd-{{ mode.added | replace(".", "") }}"><strong>New in v{{ mode.added }}!</strong></a> {% endif %}{{ mode.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if chmodes.example -%}
#### Example Usage

{% for example in chmodes.example %}

{% if example.note %}
<div class="admonition note" markdown="1">
{{ example.note }}
</div>
{% endif %}

{% if example.description %}
{% if example.added %}<a href="/{{ example.added | first }}/change-log/#inspircd-{{ example.added | replace(".", "") }}"><strong>New in v{{ example.added }}!</strong></a> {% endif %}{{ example.description }}:
{% endif %}

```plaintext
{{ example.text }}
```

{% endfor %}

{% endif -%}
{% endif -%}

{% if umodes -%}
### User Modes

<table markdown="1">
<thead>
<tr>
<th>Name</th>
<th>Character</th>
<th>Type</th>
<th>Parameter Syntax</th>
<th>Usable By</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% for mode in umodes.chars %}
<tr markdown="1">
<td markdown="1">{{ mode.name }}</td>
<td markdown="1">{{ mode.char }}</td>
<td markdown="1">{{ mode.type }}</td>
{% if mode.syntax is none %}
<td><em>None</em></td>
{% elif mode.syntax is string %}
<td markdown="1">`{{ mode.syntax }}`</td>
{% else %}
<td markdown="1">`{{ mode.syntax | join('`<br>`') }}`</td>
{% endif %}
<td markdown="1">{{ mode.usable_by }}</td>
<td markdown="1">{% if mode.added %}<a href="/{{ mode.added | first }}/change-log/#inspircd-{{ mode.added | replace(".", "") }}"><strong>New in v{{ mode.added }}!</strong></a> {% endif %}{{ mode.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% if umodes.example -%}
#### Example Usage

{% for example in umodes.example %}

{% if example.note %}
<div class="admonition note" markdown="1">
{{ example.note }}
</div>
{% endif %}

{% if example.description %}
{% if example.added %}<a href="/{{ example.added | first }}/change-log/#inspircd-{{ example.added | replace(".", "") }}"><strong>New in v{{ example.added }}!</strong></a> {% endif %}{{ example.description }}:
{% endif %}

```plaintext
{{ example.text }}
```

{% endfor %}

{% endif -%}
{% endif -%}

{% if exemptions -%}
### Exemptions

<table markdown="1">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% for exemption in exemptions %}
<tr markdown="1">
<td markdown="1">{{ exemption.name }}</td>
<td markdown="1">{% if exemption.added %}<a href="/{{ exemption.added | first }}/change-log/#inspircd-{{ exemption.added | replace(".", "") }}"><strong>New in v{{ exemption.added }}!</strong></a> {% endif %}{{ exemption.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif -%}

{% if extbans %}
### Extended Bans

{{ extbans.description }}

<table markdown="1">
<thead>
<tr>
<th>Name</th>
<th>Character</th>
<th>Type</th>
<th>Ban Syntax</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% for mode in extbans.chars %}
{% if '3' == version %}
{% set prefix = mode.char ~ ':' %}
{% else %}
{% set prefix = '[!]' ~ mode.name ~ ':' %}
{% endif %}
<tr markdown="1">
<td markdown="1">{{ mode.name }}</td>
<td markdown="1">{{ mode.char }}</td>
<td markdown="1">{{ mode.type }}</td>
{% if mode.syntax is none %}
<td><em>None</em></td>
{% elif mode.syntax is string %}
<td markdown="1">`{{ prefix }}{{ mode.syntax }}`</td>
{% else %}
<td markdown="1">`{{ prefix }}{{ mode.syntax | join('`<br>{{ prefix }}`') }}`</td>
{% endif %}
<td markdown="1">{% if mode.added %}<a href="/{{ mode.added | first }}/change-log/#inspircd-{{ mode.added | replace(".", "") }}"><strong>New in v{{ mode.added }}!</strong></a> {% endif %}{{ mode.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% if extbans.example -%}
#### Example Usage

{% for example in extbans.example %}

{% if example.note %}
<div class="admonition note" markdown="1">
{{ example.note }}
</div>
{% endif %}

{% if example.description %}
{% if example.added %}<a href="/{{ example.added | first }}/change-log/#inspircd-{{ example.added | replace(".", "") }}"><strong>New in v{{ example.added }}!</strong></a> {% endif %}{{ example.description }}:
{% endif %}

```plaintext
{{ example.text }}
```

{% endfor %}

{% endif -%}
{% endif -%}

{% if snomasks %}
### Server Notice Masks

<table markdown="1">
<thead>
<tr>
<th>Character</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% for mask in snomasks %}
<tr markdown="1">
<td markdown="1">{{ mask.char }}</td>
<td markdown="1">{% if mask.added %}<a href="/{{ mask.added | first }}/change-log/#inspircd-{{ mask.added | replace(".", "") }}"><strong>New in v{{ mask.added }}!</strong></a> {% endif %}{{ mask.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif -%}

{% if stats %}
### Statistics

<table markdown="1">
<thead>
<tr>
<th>Character</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% for stat in stats %}
<tr markdown="1">
<td markdown="1">{{ stat.char }}</td>
<td markdown="1">{% if stat.added %}<a href="/{{ stat.added | first }}/change-log/#inspircd-{{ stat.added | replace(".", "") }}"><strong>New in v{{ stat.added }}!</strong></a> {% endif %}{{ stat.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif -%}

{% if misc -%}
{{ misc }}

{% endif -%}

{% if special_notes -%}
### Special Notes

{{ special_notes }}
{% endif %}

