---
title: "Module Details: {{name}} (v3)"
---

## The "{{name}}" Module

{% if introduction is defined -%}
{{introduction}}

{% endif -%}

### Description

{{description}}

### Configuration

To load this module use the following `<module>` tag:

```xml
<module name="{{name}}">
```

{% if configuration is defined -%}
{% for tag in configuration -%}
#### `{{tag.name}}`

{{tag.description}}

{% if tag.attributes %}
<table>
<tr>
    <th>Name</th>
    <th>Type</th>
    <th>Default Value</th>
    <th>Description</th>
</tr>
{% for attr in tag.attributes %}
<tr>
    <td>{{attr.name}}</td>
    <td>{{attr.type}}</td>
    <td>{% if attr.default == "None" %}<em>None</em>{% else %}{{attr.default}}{% endif %}</td>
    <td>{% if attr.required %}<strong>Required</strong> {% endif %}{{attr.description}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if tag.details -%}
{{tag.details}}
{% endif -%}

##### Example Usage

{{tag.example}}

{% endfor %}
{%- else -%}
This module requires no other configuration.

{% endif -%}

{% if commands is defined -%}
### Commands

<table>
<tr>
    <th>Name</th>
    <th>Parameter Count</th>
    <th>Syntax</th>
    <th>Description</th>
</tr>
{% for command in commands %}
<tr>
    <td>{{command.name}}</td>
    <td>{{command.param_count}}</td>
    <td>{% if command.syntax == "None" %}<em>None</em>{% else %}{{command.syntax}}{% endif %}</td>
    <td>{{command.description}}</td>
</tr>
{% endfor %}
</table>

{%- if example_commands is defined %}
#### Example Usage

{{example_commands}}
{% endif %}
{% endif %}

{% if client_caps is defined -%}
### Client Capabilities

<table>
<tr>
    <th>Name</th>
    <th>Description</th>
</tr>
{% for cap in client_caps %}
<tr>
    <td>{{cap.name}}</td>
    <td>{{cap.description}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if chmodes is defined -%}
### Channel Modes

<table>
<tr>
    <th>Name</th>
    <th>Character</th>
    <th>Type</th>
    <th>Parameter Syntax</th>
    <th>Usable by</th>
    <th>Description</th>
</tr>
{% for mode in chmodes.chars %}
<tr>
    <td>{{mode.name}}</td>
    <td>{{mode.char}}</td>
    <td>{{mode.type}}</td>
    <td>{% if mode.syntax == "None" %}<em>None</em>{% else %}{{mode.syntax}}{% endif %}</td>
    <td>{{mode.usable_by}}</td>
    <td>{{mode.description}}</td>
</tr>
{% endfor %}
</table>

{% if chmodes.example -%}
#### Example Usage

{{chmodes.example}}

{% endif -%}
{% endif -%}

{% if umodes is defined -%}
### User Modes

<table>
<tr>
    <th>Name</th>
    <th>Character</th>
    <th>Type</th>
    <th>Parameter Syntax</th>
    <th>Usable by</th>
    <th>Description</th>
</tr>
{% for mode in umodes.chars %}
<tr>
    <td>{{mode.name}}</td>
    <td>{{mode.char}}</td>
    <td>{{mode.type}}</td>
    <td>{% if mode.syntax == "None" %}<em>None</em>{% else %}{{mode.syntax}}{% endif %}</td>
    <td>{{mode.usable_by}}</td>
    <td>{{mode.description}}</td>
</tr>
{% endfor %}
</table>

{% if umodes.example -%}
#### Example Usage

{{umodes.example}}

{% endif -%}
{% endif -%}

{% if exemptions is defined -%}
### Exemptions

<table>
<tr>
    <th>Name</th>
    <th>Description</th>
</tr>
{% for exemption in exemptions %}
<tr>
    <td>{{exemption.name}}</td>
    <td>{{exemption.description}}</td>
</tr>
{% endfor %}
</table>
{% endif -%}

{% if extbans is defined -%}
### Extended Bans

<table>
<tr>
    <th>Character</th>
    <th>Type</th>
    <th>Ban Syntax</th>
    <th>Description</th>
</tr>
{% for mode in extbans.chars %}
<tr>
    <td>{{mode.char}}</td>
    <td>{{mode.type}}</td>
    <td>{% if mode.syntax == "None" %}<em>None</em>{% else %}{{mode.syntax}}{% endif %}</td>
    <td>{{mode.description}}</td>
</tr>
{% endfor %}
</table>

{% if extbans.example -%}
#### Example Usage

{{extbans.example}}
{% endif -%}
{% endif -%}

{% if special_notes is defined and special_notes -%}
### Special Notes

{{special_notes}}
{% endif %}

