---
title: InspIRCd Spanning Tree Protocol &mdash; Messages &mdash; {{ name }}
---

## {{ name }}

{! server/_dev.md !}

{% if added is defined %}
!!! note ""
    This message was added in the {{ added }} protocol.
{% endif %}

{% if module is defined %}
!!! note ""
    This message is provided by [the {{ module }} module](/4/modules/{{ module }}). Before sending it you should do one of the following:

    - Check that the {{ module }} message is present in [`CAPAB MODULES` or `CAPAB MODSUPPORT`](/server/messages/capab).
    - Encapsulate it with [`ENCAP`](/server/messages/encap) if the message being dropped is tolerable.
{% endif %}

{{ description }}

### Connection Phases

This message can be used in the following connection phases:

{% if phase is not defined %}
{% set phase = ["connected"] %}
{% endif %}

Connection Phase        | Usable?
----------------------- | -------
Connecting outbound     | {% if "connecting" in phase %}✔️{% else %}❌{% endif %}
Authenticating outbound | {% if "wait-auth-1" in phase %}✔️{% else %}❌{% endif %}
Authenticating inbound  | {% if "wait-auth-2" in phase %}✔️{% else %}❌{% endif %}
Fully connected         | {% if "connected" in phase %}✔️{% else %}❌{% endif %}

### Syntax

{% set prefix = "" %}
{% if tags is defined %}
{% set prefix = "[@<tags>] " %}
{% endif %}

{% if source is defined %}
{% set prefix = prefix ~ ":<" ~ source ~ ">" %}
{% else %}
{% set prefix = prefix ~ "[:<sid>]" %}
{% endif %}

{% if syntax is not defined %}
`{{ prefix }} {{ name }}
{% elif syntax.text is string %}
`{{ prefix }} {{ name }} {{ syntax.text }}`
{% else %}
{% for syntax_line in syntax.text %}
`{{ prefix }} {{ name }} {{ syntax_line }}`
{% endfor %}
{% endif %}

{% if syntax is defined %}
<table markdown="1">
<thead>
<tr>
<th>Parameter</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% if source %}
<tr markdown="1">
<td markdown="1">`<{{ source }}>`</td>
{% if source == "uuid" %}
<td markdown="1">The unique identifier of the server or user that sent the message.</td>
{% elif source == "uid" %}
<td markdown="1">The unique identifier of the user that sent the message.</td>
{% elif source == "sid" %}
<td markdown="1">The unique identifier of the server that sent the message.</td>
{% else %}
{{ 0/0 }}
{% endif %}
</tr>
{% endif %}
{% for name, desc in syntax.fields.items() -%}
<tr markdown="1">
<td markdown="1">`<{{ name }}>`</td>
<td markdown="1">{{ desc }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if tags is defined %}
<table markdown="1">
<thead>
<tr>
<th>Tag</th>
<th>Description</th>
</tr>
</thead>
<tbody markdown="1">
{% for tag_name, tag_data in tags.items() -%}
<tr markdown="1">
<td markdown="1">`{{ tag_name }}`</td>
<td markdown="1">{{ tag_data }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{%  endif %}

{% if extra is defined %}
{{ extra }}
{% endif %}

### Example Usage

{% for example in example %}

{% if example.note %}
<div class="admonition note" markdown="1">
{{ example.note }}
</div>
{% endif %}

{% if example.description %}
{{ example.description }}:
{% endif %}

```plaintext
{{ example.text }}
```

{% endfor %}

{% if history is defined %}

### History

{% for version, changes in history.items() %}

#### {{ version }}

{{ changes }}

{% endfor %}

{% endif %}
