name: Check docs structure
on:
  - pull_request
  - push
  - workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
            sudo apt-get install python3-pip python3-setuptools python3-wheel --assume-yes --install-recommends
            sudo pip3 install -r requirements.txt

      - name: Check for broken redirects
        run: ./tools/find-broken-redirects

      - name: Check for missing pages
        run: ./tools/find-missing

      - name: Check for orphaned pages
        run: ./tools/find-orphans

      - name: Check for trailing whitespace
        run: ./tools/find-whitespace

      - name: Lint YAML
        run: yamllint docs/
